# Convolution Neural Network (CNN)

### This script contains the following:
#### 1. Importing Libraries and Data
#### 2. Data wrangling
#### 3. Data Reshape 
#### 4. Data Splitting
#### 5. Creating Keras
#### 6. Running Model - Softmax
#### 7. Confusion Matrix
#### 8. Tanh
#### 9. sigmoid
#### 10. Relu

### 1. Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import operator
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from numpy import unique
from numpy import reshape
from keras.models import Sequential
from keras.layers import Conv1D, Conv2D, Dense, BatchNormalization, Flatten, MaxPooling1D, Dropout
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder


import warnings
warnings.filterwarnings("ignore")

In [2]:
path = r'C:\Users\mosh_\OneDrive\Desktop\Career Foundry\Machine Learning with Python\Achievement 2- Real-world appllication of Machine Learning\Data Sets'

In [3]:
path

'C:\\Users\\mosh_\\OneDrive\\Desktop\\Career Foundry\\Machine Learning with Python\\Achievement 2- Real-world appllication of Machine Learning\\Data Sets'

In [4]:
df = pd.read_csv(os.path.join(path, 'Original Dataset.csv'))
df

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.0180,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.0180,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.0180,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.0180,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.0180,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,10,1,2.1,0.79,1.0248,1.34,0.22,0,7.7,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22946,20221028,10,6,2.1,0.77,1.0244,1.34,0.22,0,5.4,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22947,20221029,10,4,2.1,0.76,1.0227,1.34,0.22,0,6.1,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22948,20221030,10,5,2.1,0.80,1.0212,1.34,0.22,0,5.8,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5
22949,20221031,10,5,2.1,0.84,1.0193,1.34,0.22,0,3.2,...,5,0.82,1.0142,1.13,0.41,0,3.4,10.7,7.9,13.5

In [5]:
pleasant = pd.read_csv(os.path.join(path, 'Dataset-Answers-Weather_Prediction_Pleasant_Weather.csv'))
pleasant

,DATE,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,19600101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,19600102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,19600103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,19600104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,19600105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22945,20221027,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22946,20221028,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22947,20221029,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22948,20221030,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22949,20221031,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### 2. Data wrangling

In [7]:
# removing data from Gdansk, Rome and Tours

cols_to_drop = [col for col in df.columns if col.startswith(('GDANSK', 'ROMA', 'TOURS'))]
df2 = df.drop(columns=cols_to_drop)

In [16]:
# dropping date and month column

df2.drop(columns=['DATE','MONTH'], inplace=True)

In [18]:
df2.shape

(22950, 148)

In [20]:
# Extract the different observation types

observation_types = ['cloud_cover', 'wind_speed', 'humidity', 'pressure',
                     'global_radiation', 'precipitation', 'snow_depth', 
                     'sunshine', 'temp_mean', 'temp_min', 'temp_max']

In [22]:
# Create a dictionary to store the count of stations for each observation type
station_counts = {}

for obs in observation_types:
    # Select columns related to the current observation type
    columns = [col for col in df2.columns if col.endswith(obs)]
    
    # Count the number of stations (i.e., the number of columns) for the current observation type
    station_counts[obs] = len(columns)

# Print the count of stations for each observation type
print("Number of stations covered by each observation type:")
for obs, count in station_counts.items():
    print(f"{obs}: {count} stations")

Number of stations covered by each observation type:
cloud_cover: 14 stations
wind_speed: 9 stations
humidity: 14 stations
pressure: 14 stations
global_radiation: 15 stations
precipitation: 15 stations
snow_depth: 6 stations
sunshine: 15 stations
temp_mean: 15 stations
temp_min: 15 stations
temp_max: 15 stations

There are a few observations which are missing values, namely wind speed and snow depth. I will be removing all columns with these values

In [25]:
cols_to_drop2 = [col for col in df2.columns if '_wind_speed' in col or '_snow_depth' in col]

# Drop the columns
df3 = df2.drop(cols_to_drop2, axis=1)

In [27]:
df3.shape

(22950, 133)

A few stations have values missing

In [30]:
# Find the stations with the above entries missing
# Get all column names
all_columns = df3.columns.tolist()
# Exclude 'DATE' and 'MONTH' columns
all_columns = [col for col in all_columns if col not in ['DATE', 'MONTH']]  
# Extract unique weather station names
weather_stations = set()  # Use a set to automatically store only unique values
for col in all_columns:
    station_name = col.split('_')[0]  # Split the column name at the underscore and take the first part
    weather_stations.add(station_name)

# Print the list of weather stations
print(weather_stations)

{'BASEL', 'BUDAPEST', 'OSLO', 'SONNBLICK', 'DEBILT', 'LJUBLJANA', 'MADRID', 'HEATHROW', 'VALENTIA', 'BELGRADE', 'MUNCHENB', 'DUSSELDORF', 'KASSEL', 'MAASTRICHT', 'STOCKHOLM'}

In [32]:
# Find stations missing observation types
observation_types = ['cloud_cover', 'humidity', 'pressure']

missing_stations_by_observation = {}

for obs in observation_types:
    # Select columns related to the current observation type
    columns = [col for col in df3.columns if col.endswith(obs)]
    
    # Extract station names by removing the observation type from the column names
    station_names = set([col.replace(f'_{obs}', '') for col in columns])
    
    # Identify stations that are in all_stations but missing from the current observation type
    missing_stations = weather_stations - station_names
    
    # Store the missing station names in the dictionary
    missing_stations_by_observation[obs] = missing_stations

# Print the missing station names for each observation type
for obs, missing_stations in missing_stations_by_observation.items():
    print(f"\nStations missing from {obs}:")
    if missing_stations:
        for station in missing_stations:
            print(station)
    else:
        print("None")

Stations missing from cloud_cover:
KASSEL

Stations missing from humidity:
STOCKHOLM

Stations missing from pressure:
MUNCHENB

 Find values which are close to these locations and I will input them in

In [35]:
# Cloud cover is the start of a stations data, Kassel is next to Heathrow, find the position of Heathrow_temp_max for the insertion of Kassel_cloud_cover
df3.columns.get_loc('HEATHROW_temp_max')

54

In [37]:
# Find the position for insertion of Stockholm humidity
df3.columns.get_loc('STOCKHOLM_cloud_cover') #humidity is 1 after cloud cover so (result +1)

116

In [39]:
# Find position for Munchenb pressure
df3.columns.get_loc('MUNCHENB_cloud_cover') # pressure is 2 after cloud cover so (result +2)

90

In [41]:
# Insert new columns into "unscaled" at specific positions.
# The data for these new columns is taken from weather stations they are close to

df3.insert(54,'KASSEL_cloud_cover', df3['DUSSELDORF_cloud_cover'])
df3.insert(117, 'STOCKHOLM_humidity', df3['OSLO_humidity'])
df3.insert(92,'MUNCHENB_pressure',df3['BASEL_pressure'])

In [43]:
pleasant.drop(columns = 'DATE', inplace = True)

In [45]:
pleasant.head()

,BASEL_pleasant_weather,BELGRADE_pleasant_weather,BUDAPEST_pleasant_weather,DEBILT_pleasant_weather,DUSSELDORF_pleasant_weather,HEATHROW_pleasant_weather,KASSEL_pleasant_weather,LJUBLJANA_pleasant_weather,MAASTRICHT_pleasant_weather,MADRID_pleasant_weather,MUNCHENB_pleasant_weather,OSLO_pleasant_weather,SONNBLICK_pleasant_weather,STOCKHOLM_pleasant_weather,VALENTIA_pleasant_weather
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [47]:
df3.to_csv(os.path.join(path, 'weather cleaned.csv'))

### 3. Data Reshape

In [29]:
X = df3
y = pleasant

In [30]:
# Turn X and y into arrays
X = np.array(X)
y
y= np.array(y)
X

array([[ 7.    ,  0.85  ,  1.018 , ...,  8.5   ,  6.    , 10.9   ],
       [ 6.    ,  0.84  ,  1.018 , ...,  8.9   ,  5.6   , 12.1   ],
       [ 8.    ,  0.9   ,  1.018 , ..., 10.5   ,  8.1   , 12.9   ],
       ...,
       [ 4.    ,  0.76  ,  1.0227, ..., 10.7   ,  7.9   , 13.5   ],
       [ 5.    ,  0.8   ,  1.0212, ..., 10.7   ,  7.9   , 13.5   ],
       [ 5.    ,  0.84  ,  1.0193, ..., 10.7   ,  7.9   , 13.5   ]])

In [31]:
X.shape

(22950, 135)

In [32]:
X = X.reshape(-1,15,9)

In [33]:
X.shape

(22950, 15, 9)

### 4. Data Splitting

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [63]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(17212, 15, 9) (17212, 15)
(5738, 15, 9) (5738, 15)

### 5. Creating Keras

In [66]:
epochs = 30
batch_size = 16
n_hidden = 32

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='softmax')) # Options: sigmoid, tanh, softmax, relu

In [68]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 14, 32)            608

 dense (Dense)               (None, 14, 16)            528

 max_pooling1d (MaxPooling1D  (None, 7, 16)            0
 )

 flatten (Flatten)           (None, 112)               0

 dense_1 (Dense)             (None, 15)                1695

=================================================================
Total params: 2,831
Trainable params: 2,831
Non-trainable params: 0
_________________________________________________________________

### 6. Running Model - Softmax

In [74]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [76]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/30
1076/1076 - 5s - loss: 5114.0425 - accuracy: 0.1011 - 5s/epoch - 4ms/step
Epoch 2/30
1076/1076 - 2s - loss: 52195.8398 - accuracy: 0.1265 - 2s/epoch - 2ms/step
Epoch 3/30
1076/1076 - 2s - loss: 181577.4688 - accuracy: 0.1316 - 2s/epoch - 2ms/step
Epoch 4/30
1076/1076 - 2s - loss: 400687.2188 - accuracy: 0.1297 - 2s/epoch - 2ms/step
Epoch 5/30
1076/1076 - 2s - loss: 690315.5000 - accuracy: 0.1326 - 2s/epoch - 2ms/step
Epoch 6/30
1076/1076 - 2s - loss: 1114624.6250 - accuracy: 0.1358 - 2s/epoch - 2ms/step
Epoch 7/30
1076/1076 - 2s - loss: 1616822.5000 - accuracy: 0.1377 - 2s/epoch - 2ms/step
Epoch 8/30
1076/1076 - 2s - loss: 2253479.0000 - accuracy: 0.1377 - 2s/epoch - 2ms/step
Epoch 9/30
1076/1076 - 2s - loss: 3001816.7500 - accuracy: 0.1372 - 2s/epoch - 2ms/step
Epoch 10/30
1076/1076 - 2s - loss: 3917310.2500 - accuracy: 0.1329 - 2s/epoch - 2ms/step
Epoch 11/30
1076/1076 - 2s - loss: 4984497.5000 - accuracy: 0.1353 - 2s/epoch - 2ms/step
Epoch 12/30
1076/1076 - 3s - loss: 6068030.0000 - accuracy: 0.1342 - 3s/epoch - 3ms/step
Epoch 13/30
1076/1076 - 3s - loss: 7475466.0000 - accuracy: 0.1322 - 3s/epoch - 3ms/step
Epoch 14/30
1076/1076 - 4s - loss: 8947771.0000 - accuracy: 0.1372 - 4s/epoch - 3ms/step
Epoch 15/30
1076/1076 - 4s - loss: 10724432.0000 - accuracy: 0.1326 - 4s/epoch - 4ms/step
Epoch 16/30
1076/1076 - 4s - loss: 12526701.0000 - accuracy: 0.1318 - 4s/epoch - 3ms/step
Epoch 17/30
1076/1076 - 3s - loss: 14655058.0000 - accuracy: 0.1268 - 3s/epoch - 3ms/step
Epoch 18/30
1076/1076 - 3s - loss: 16847704.0000 - accuracy: 0.1266 - 3s/epoch - 3ms/step
Epoch 19/30
1076/1076 - 5s - loss: 19281538.0000 - accuracy: 0.1262 - 5s/epoch - 4ms/step
Epoch 20/30
1076/1076 - 4s - loss: 22339846.0000 - accuracy: 0.1283 - 4s/epoch - 3ms/step
Epoch 21/30
1076/1076 - 3s - loss: 25361106.0000 - accuracy: 0.1250 - 3s/epoch - 3ms/step
Epoch 22/30
1076/1076 - 3s - loss: 28659098.0000 - accuracy: 0.1277 - 3s/epoch - 3ms/step
Epoch 23/30
1076/1076 - 4s - loss: 32088766.0000 - accuracy: 0.1271 - 4s/epoch - 4ms/step
Epoch 24/30
1076/1076 - 4s - loss: 35890028.0000 - accuracy: 0.1284 - 4s/epoch - 3ms/step
Epoch 25/30
1076/1076 - 3s - loss: 39988888.0000 - accuracy: 0.1281 - 3s/epoch - 3ms/step
Epoch 26/30
1076/1076 - 3s - loss: 44546292.0000 - accuracy: 0.1226 - 3s/epoch - 3ms/step
Epoch 27/30
1076/1076 - 4s - loss: 49030068.0000 - accuracy: 0.1244 - 4s/epoch - 3ms/step
Epoch 28/30
1076/1076 - 4s - loss: 54161072.0000 - accuracy: 0.1213 - 4s/epoch - 4ms/step
Epoch 29/30
1076/1076 - 3s - loss: 59106384.0000 - accuracy: 0.1229 - 3s/epoch - 3ms/step
Epoch 30/30
1076/1076 - 3s - loss: 65062292.0000 - accuracy: 0.1225 - 3s/epoch - 3ms/step

### 7. Confusion Matrix

In [79]:
# Define list of stations names

stations = {
0: 'BASEL',
1: 'BELGRADE',
2: 'BUDAPEST',
3: 'DEBILT',
4: 'DUSSELDORF',
5: 'HEATHROW',
6: 'KASSEL',
7: 'LJUBLJANA',
8: 'MAASTRICHT',
9: 'MADRID',
10: 'MUNCHENB',
11: 'OSLO',
12: 'SONNBLICK',
13: 'STOCKHOLM',
14: 'VALENTIA'

}

In [81]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [83]:
# Evaluate
print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 1ms/step
Pred        BASEL  BELGRADE  BUDAPEST  DEBILT  DUSSELDORF  HEATHROW  KASSEL  \
True
BASEL         116       530        14      16        1407       113      34
BELGRADE        0       293         0       0         467         3       0
BUDAPEST        0        34         0       0          91         0       0
DEBILT          0        16         0       0          39         0       0
DUSSELDORF      0         3         0       0          15         0       0
HEATHROW        0         3         0       0          39         0       0
KASSEL          0         2         0       0           6         0       0
LJUBLJANA       0        13         0       0          19         0       0
MAASTRICHT      0         1         0       0           4         0       0
MADRID          2        21         0       0         165        22       1
MUNCHENB        0         4         0       0           0         0       0
OSLO            0         1         0       0           0         0       0
STOCKHOLM       0         2         0       0           0         0       0
VALENTIA        0         0         0       0           0         0       0

Pred        LJUBLJANA  MADRID  MUNCHENB  OSLO  SONNBLICK  STOCKHOLM  VALENTIA
True
BASEL              71     603       385   104          5        253        31
BELGRADE            0     203        18    12          0         96         0
BUDAPEST            0      51         0     5          0         33         0
DEBILT              0       6         1     6          0         14         0
DUSSELDORF          0       4         0     1          0          6         0
HEATHROW            0      21         0     4          0         15         0
KASSEL              0       1         1     1          0          0         0
LJUBLJANA           0      24         1     2          0          2         0
MAASTRICHT          0       3         1     0          0          0         0
MADRID              0     174        11    20          0         42         0
MUNCHENB            0       2         1     1          0          0         0
OSLO                0       0         0     2          0          2         0
STOCKHOLM           0       1         0     0          0          1         0
VALENTIA            0       0         0     0          0          1         0

The model did not provide good results, a loss of 65% and accuracy of 12%, i will retry with different parameters

In [86]:
epochs = 30
batch_size = 16
n_hidden = 4

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='softmax')) # Options: sigmoid, tanh, softmax, relu

In [88]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_1 (Conv1D)           (None, 14, 4)             76

 dense_2 (Dense)             (None, 14, 16)            80

 max_pooling1d_1 (MaxPooling  (None, 7, 16)            0
 1D)

 flatten_1 (Flatten)         (None, 112)               0

 dense_3 (Dense)             (None, 15)                1695

=================================================================
Total params: 1,851
Trainable params: 1,851
Non-trainable params: 0
_________________________________________________________________

In [91]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [93]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/30
1076/1076 - 2s - loss: 819.9437 - accuracy: 0.1263 - 2s/epoch - 2ms/step
Epoch 2/30
1076/1076 - 3s - loss: 9017.6689 - accuracy: 0.1393 - 3s/epoch - 3ms/step
Epoch 3/30
1076/1076 - 2s - loss: 30178.9336 - accuracy: 0.1270 - 2s/epoch - 2ms/step
Epoch 4/30
1076/1076 - 2s - loss: 65401.8945 - accuracy: 0.1209 - 2s/epoch - 2ms/step
Epoch 5/30
1076/1076 - 2s - loss: 113405.2969 - accuracy: 0.1173 - 2s/epoch - 2ms/step
Epoch 6/30
1076/1076 - 2s - loss: 179180.2344 - accuracy: 0.1163 - 2s/epoch - 2ms/step
Epoch 7/30
1076/1076 - 2s - loss: 256496.7969 - accuracy: 0.1226 - 2s/epoch - 2ms/step
Epoch 8/30
1076/1076 - 2s - loss: 351834.5000 - accuracy: 0.1215 - 2s/epoch - 2ms/step
Epoch 9/30
1076/1076 - 4s - loss: 468933.7812 - accuracy: 0.1194 - 4s/epoch - 4ms/step
Epoch 10/30
1076/1076 - 4s - loss: 605242.0000 - accuracy: 0.1217 - 4s/epoch - 4ms/step
Epoch 11/30
1076/1076 - 3s - loss: 753433.8125 - accuracy: 0.1211 - 3s/epoch - 3ms/step
Epoch 12/30
1076/1076 - 3s - loss: 939351.0000 - accuracy: 0.1201 - 3s/epoch - 3ms/step
Epoch 13/30
1076/1076 - 3s - loss: 1141524.5000 - accuracy: 0.1218 - 3s/epoch - 3ms/step
Epoch 14/30
1076/1076 - 4s - loss: 1368023.2500 - accuracy: 0.1271 - 4s/epoch - 4ms/step
Epoch 15/30
1076/1076 - 3s - loss: 1632008.2500 - accuracy: 0.1229 - 3s/epoch - 3ms/step
Epoch 16/30
1076/1076 - 3s - loss: 1922121.8750 - accuracy: 0.1168 - 3s/epoch - 3ms/step
Epoch 17/30
1076/1076 - 4s - loss: 2248648.0000 - accuracy: 0.1211 - 4s/epoch - 3ms/step
Epoch 18/30
1076/1076 - 4s - loss: 2587063.7500 - accuracy: 0.1176 - 4s/epoch - 4ms/step
Epoch 19/30
1076/1076 - 3s - loss: 2979822.5000 - accuracy: 0.1216 - 3s/epoch - 3ms/step
Epoch 20/30
1076/1076 - 3s - loss: 3370751.7500 - accuracy: 0.1133 - 3s/epoch - 3ms/step
Epoch 21/30
1076/1076 - 3s - loss: 3832832.2500 - accuracy: 0.1152 - 3s/epoch - 3ms/step
Epoch 22/30
1076/1076 - 4s - loss: 4312547.5000 - accuracy: 0.1175 - 4s/epoch - 3ms/step
Epoch 23/30
1076/1076 - 4s - loss: 4835321.5000 - accuracy: 0.1181 - 4s/epoch - 4ms/step
Epoch 24/30
1076/1076 - 4s - loss: 5380900.0000 - accuracy: 0.1188 - 4s/epoch - 3ms/step
Epoch 25/30
1076/1076 - 4s - loss: 6034686.0000 - accuracy: 0.1195 - 4s/epoch - 3ms/step
Epoch 26/30
1076/1076 - 4s - loss: 6694252.5000 - accuracy: 0.1190 - 4s/epoch - 3ms/step
Epoch 27/30
1076/1076 - 4s - loss: 7398034.0000 - accuracy: 0.1216 - 4s/epoch - 4ms/step
Epoch 28/30
1076/1076 - 5s - loss: 8136573.0000 - accuracy: 0.1164 - 5s/epoch - 5ms/step
Epoch 29/30
1076/1076 - 4s - loss: 8948713.0000 - accuracy: 0.1165 - 4s/epoch - 4ms/step
Epoch 30/30
1076/1076 - 4s - loss: 9805447.0000 - accuracy: 0.1189 - 4s/epoch - 3ms/step

In [95]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [97]:
# Evaluate

print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 1ms/step
Pred        BASEL  BELGRADE  BUDAPEST  DEBILT  DUSSELDORF  HEATHROW  KASSEL  \
True
BASEL         390       204       205      50           2        11       1
BELGRADE      124        12        96       0           0         0       0
BUDAPEST       13         0        12       0           0         0       0
DEBILT         18         0         0       0           0         0       0
DUSSELDORF      1         0         0       0           0         0       0
HEATHROW        0         0         1       0           0         0       0
KASSEL          4         0         0       0           0         0       0
LJUBLJANA       2         0         3       0           0         0       0
MAASTRICHT      1         0         0       0           0         0       0
MADRID         11         2        13       1           0         2       0
MUNCHENB        1         0         0       0           0         0       0
OSLO            0         0         0       0           0         0       0
STOCKHOLM       1         0         1       0           0         0       0
VALENTIA        0         0         0       0           0         0       0

Pred        LJUBLJANA  MAASTRICHT  MADRID  MUNCHENB  OSLO  SONNBLICK  \
True
BASEL              98        1117    1018        16   113          3
BELGRADE            0         248     433         0    12          0
BUDAPEST            0          46      96         0     6          0
DEBILT              0          27      11         0     5          0
DUSSELDORF          0          10       7         0     1          0
HEATHROW            0          29      26         0     7          0
KASSEL              0           4       1         0     1          0
LJUBLJANA           0          12      39         0     0          0
MAASTRICHT          0           5       3         0     0          0
MADRID              0         130     210         0    18          0
MUNCHENB            0           0       6         0     1          0
OSLO                0           0       1         0     2          0
STOCKHOLM           0           0       1         0     1          0
VALENTIA            0           0       0         0     1          0

Pred        STOCKHOLM  VALENTIA
True
BASEL             440        14
BELGRADE          167         0
BUDAPEST           41         0
DEBILT             21         0
DUSSELDORF         10         0
HEATHROW           19         0
KASSEL              1         0
LJUBLJANA           5         0
MAASTRICHT          0         0
MADRID             71         0
MUNCHENB            0         0
OSLO                2         0
STOCKHOLM           0         0
VALENTIA            0         0

This model is worse than the first one. The accuracy is 11% and the loss is 98%
<BR> I will try a few different activation functions to see if i can get better results

### 8. Tanh

In [111]:
epochs = 30
batch_size = 16
n_hidden = 128

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='tanh')) # Options: sigmoid, tanh, softmax, relu

In [113]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_2 (Conv1D)           (None, 14, 128)           2432

 dense_4 (Dense)             (None, 14, 16)            2064

 max_pooling1d_2 (MaxPooling  (None, 7, 16)            0
 1D)

 flatten_2 (Flatten)         (None, 112)               0

 dense_5 (Dense)             (None, 15)                1695

=================================================================
Total params: 6,191
Trainable params: 6,191
Non-trainable params: 0
_________________________________________________________________

In [115]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [117]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/30
1076/1076 - 3s - loss: 24.8983 - accuracy: 0.0212 - 3s/epoch - 3ms/step
Epoch 2/30
1076/1076 - 2s - loss: 25.0302 - accuracy: 0.0457 - 2s/epoch - 2ms/step
Epoch 3/30
1076/1076 - 2s - loss: 23.6800 - accuracy: 0.0769 - 2s/epoch - 2ms/step
Epoch 4/30
1076/1076 - 2s - loss: 20.3920 - accuracy: 0.1766 - 2s/epoch - 2ms/step
Epoch 5/30
1076/1076 - 3s - loss: 20.3920 - accuracy: 0.1770 - 3s/epoch - 2ms/step
Epoch 6/30
1076/1076 - 2s - loss: 20.3920 - accuracy: 0.1771 - 2s/epoch - 2ms/step
Epoch 7/30
1076/1076 - 2s - loss: 20.3920 - accuracy: 0.1771 - 2s/epoch - 2ms/step
Epoch 8/30
1076/1076 - 2s - loss: 20.3920 - accuracy: 0.1771 - 2s/epoch - 2ms/step
Epoch 9/30
1076/1076 - 3s - loss: 20.3920 - accuracy: 0.1772 - 3s/epoch - 3ms/step
Epoch 10/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1772 - 4s/epoch - 3ms/step
Epoch 11/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1772 - 5s/epoch - 4ms/step
Epoch 12/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1774 - 4s/epoch - 4ms/step
Epoch 13/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 14/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 15/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 4ms/step
Epoch 16/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 17/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 18/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 5ms/step
Epoch 19/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 20/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 21/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 22/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 4ms/step
Epoch 23/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 24/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 25/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 4ms/step
Epoch 26/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 4ms/step
Epoch 27/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 28/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step
Epoch 29/30
1076/1076 - 5s - loss: 20.3920 - accuracy: 0.1778 - 5s/epoch - 5ms/step
Epoch 30/30
1076/1076 - 4s - loss: 20.3920 - accuracy: 0.1778 - 4s/epoch - 4ms/step

In [121]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [123]:
# Evaluate

print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 1ms/step
Pred        BELGRADE  DUSSELDORF  MAASTRICHT  OSLO  SONNBLICK
True
BASEL           2631         996          25    26          4
BELGRADE        1056          36           0     0          0
BUDAPEST         211           3           0     0          0
DEBILT            82           0           0     0          0
DUSSELDORF        29           0           0     0          0
HEATHROW          82           0           0     0          0
KASSEL            11           0           0     0          0
LJUBLJANA         61           0           0     0          0
MAASTRICHT         9           0           0     0          0
MADRID           438          20           0     0          0
MUNCHENB           8           0           0     0          0
OSLO               5           0           0     0          0
STOCKHOLM          4           0           0     0          0
VALENTIA           1           0           0     0          0

This is a huge improved in the loss at just 20% however the accuracy is still very low at 17%
<BR> I will adjust the parameters to see if i can get better results.

In [127]:
epochs = 30
batch_size = 16
n_hidden = 64

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='tanh')) # Options: sigmoid, tanh, softmax, relu

In [129]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_3 (Conv1D)           (None, 14, 64)            1216

 dense_6 (Dense)             (None, 14, 16)            1040

 max_pooling1d_3 (MaxPooling  (None, 7, 16)            0
 1D)

 flatten_3 (Flatten)         (None, 112)               0

 dense_7 (Dense)             (None, 15)                1695

=================================================================
Total params: 3,951
Trainable params: 3,951
Non-trainable params: 0
_________________________________________________________________

In [131]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [133]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/30
1076/1076 - 4s - loss: 26.0255 - accuracy: 0.1427 - 4s/epoch - 4ms/step
Epoch 2/30
1076/1076 - 2s - loss: 24.7721 - accuracy: 0.1515 - 2s/epoch - 2ms/step
Epoch 3/30
1076/1076 - 2s - loss: 23.2107 - accuracy: 0.1565 - 2s/epoch - 2ms/step
Epoch 4/30
1076/1076 - 2s - loss: 23.1995 - accuracy: 0.1587 - 2s/epoch - 2ms/step
Epoch 5/30
1076/1076 - 2s - loss: 22.7932 - accuracy: 0.3494 - 2s/epoch - 2ms/step
Epoch 6/30
1076/1076 - 2s - loss: 21.9119 - accuracy: 0.4758 - 2s/epoch - 2ms/step
Epoch 7/30
1076/1076 - 2s - loss: 21.9119 - accuracy: 0.4758 - 2s/epoch - 2ms/step
Epoch 8/30
1076/1076 - 2s - loss: 21.9119 - accuracy: 0.4758 - 2s/epoch - 2ms/step
Epoch 9/30
1076/1076 - 3s - loss: 21.9119 - accuracy: 0.4758 - 3s/epoch - 2ms/step
Epoch 10/30
1076/1076 - 3s - loss: 21.9128 - accuracy: 0.4758 - 3s/epoch - 3ms/step
Epoch 11/30
1076/1076 - 4s - loss: 21.9128 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 12/30
1076/1076 - 4s - loss: 21.9119 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 13/30
1076/1076 - 4s - loss: 21.9128 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 14/30
1076/1076 - 4s - loss: 21.9166 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 15/30
1076/1076 - 5s - loss: 21.9175 - accuracy: 0.4758 - 5s/epoch - 4ms/step
Epoch 16/30
1076/1076 - 4s - loss: 21.9175 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 17/30
1076/1076 - 4s - loss: 21.9409 - accuracy: 0.4758 - 4s/epoch - 4ms/step
Epoch 18/30
1076/1076 - 4s - loss: 25.0499 - accuracy: 0.4729 - 4s/epoch - 4ms/step
Epoch 19/30
1076/1076 - 5s - loss: 25.2512 - accuracy: 0.4703 - 5s/epoch - 4ms/step
Epoch 20/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4702 - 4s/epoch - 4ms/step
Epoch 21/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4702 - 4s/epoch - 4ms/step
Epoch 22/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4701 - 4s/epoch - 4ms/step
Epoch 23/30
1076/1076 - 5s - loss: 25.2512 - accuracy: 0.4701 - 5s/epoch - 4ms/step
Epoch 24/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4700 - 4s/epoch - 4ms/step
Epoch 25/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4700 - 4s/epoch - 4ms/step
Epoch 26/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4700 - 4s/epoch - 4ms/step
Epoch 27/30
1076/1076 - 5s - loss: 25.2512 - accuracy: 0.4698 - 5s/epoch - 4ms/step
Epoch 28/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4698 - 4s/epoch - 4ms/step
Epoch 29/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4698 - 4s/epoch - 4ms/step
Epoch 30/30
1076/1076 - 4s - loss: 25.2512 - accuracy: 0.4698 - 4s/epoch - 4ms/step

In [135]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [137]:
# Evaluate

print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 1ms/step
Pred        BASEL  BELGRADE  BUDAPEST  HEATHROW
True
BASEL        2779       330       323       250
BELGRADE     1090         2         0         0
BUDAPEST      214         0         0         0
DEBILT         82         0         0         0
DUSSELDORF     29         0         0         0
HEATHROW       82         0         0         0
KASSEL         11         0         0         0
LJUBLJANA      61         0         0         0
MAASTRICHT      9         0         0         0
MADRID        448         7         2         1
MUNCHENB        8         0         0         0
OSLO            5         0         0         0
STOCKHOLM       4         0         0         0
VALENTIA        1         0         0         0

There is an improvement with adjusted parameters, while the loss has increased to 24% the accuracy has increasded to 46%. 
<BR> I will try a different activation funnction to see if I can get better results.

### 9. sigmoid

In [144]:
epochs = 30
batch_size = 16
n_hidden = 64

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='sigmoid')) # Options: sigmoid, tanh, softmax, relu

In [146]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_4 (Conv1D)           (None, 14, 64)            1216

 dense_8 (Dense)             (None, 14, 16)            1040

 max_pooling1d_4 (MaxPooling  (None, 7, 16)            0
 1D)

 flatten_4 (Flatten)         (None, 112)               0

 dense_9 (Dense)             (None, 15)                1695

=================================================================
Total params: 3,951
Trainable params: 3,951
Non-trainable params: 0
_________________________________________________________________

In [148]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [150]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/30
1076/1076 - 2s - loss: 8363.2314 - accuracy: 0.0973 - 2s/epoch - 2ms/step
Epoch 2/30
1076/1076 - 2s - loss: 97694.8516 - accuracy: 0.1222 - 2s/epoch - 2ms/step
Epoch 3/30
1076/1076 - 2s - loss: 316862.4375 - accuracy: 0.1272 - 2s/epoch - 2ms/step
Epoch 4/30
1076/1076 - 2s - loss: 724619.9375 - accuracy: 0.1309 - 2s/epoch - 2ms/step
Epoch 5/30
1076/1076 - 2s - loss: 1305294.2500 - accuracy: 0.1314 - 2s/epoch - 2ms/step
Epoch 6/30
1076/1076 - 2s - loss: 2070742.3750 - accuracy: 0.1332 - 2s/epoch - 2ms/step
Epoch 7/30
1076/1076 - 2s - loss: 3023639.0000 - accuracy: 0.1286 - 2s/epoch - 2ms/step
Epoch 8/30
1076/1076 - 2s - loss: 4225840.0000 - accuracy: 0.1258 - 2s/epoch - 2ms/step
Epoch 9/30
1076/1076 - 2s - loss: 5653080.0000 - accuracy: 0.1225 - 2s/epoch - 2ms/step
Epoch 10/30
1076/1076 - 3s - loss: 7359438.5000 - accuracy: 0.1274 - 3s/epoch - 3ms/step
Epoch 11/30
1076/1076 - 4s - loss: 9311319.0000 - accuracy: 0.1270 - 4s/epoch - 3ms/step
Epoch 12/30
1076/1076 - 4s - loss: 11498903.0000 - accuracy: 0.1288 - 4s/epoch - 4ms/step
Epoch 13/30
1076/1076 - 4s - loss: 14297099.0000 - accuracy: 0.1293 - 4s/epoch - 4ms/step
Epoch 14/30
1076/1076 - 4s - loss: 17193448.0000 - accuracy: 0.1246 - 4s/epoch - 4ms/step
Epoch 15/30
1076/1076 - 4s - loss: 20651068.0000 - accuracy: 0.1257 - 4s/epoch - 4ms/step
Epoch 16/30
1076/1076 - 5s - loss: 24150992.0000 - accuracy: 0.1255 - 5s/epoch - 4ms/step
Epoch 17/30
1076/1076 - 4s - loss: 28245828.0000 - accuracy: 0.1235 - 4s/epoch - 4ms/step
Epoch 18/30
1076/1076 - 4s - loss: 32845206.0000 - accuracy: 0.1260 - 4s/epoch - 4ms/step
Epoch 19/30
1076/1076 - 4s - loss: 37875964.0000 - accuracy: 0.1247 - 4s/epoch - 4ms/step
Epoch 20/30
1076/1076 - 5s - loss: 43415172.0000 - accuracy: 0.1247 - 5s/epoch - 4ms/step
Epoch 21/30
1076/1076 - 4s - loss: 49186500.0000 - accuracy: 0.1239 - 4s/epoch - 4ms/step
Epoch 22/30
1076/1076 - 4s - loss: 56032444.0000 - accuracy: 0.1250 - 4s/epoch - 4ms/step
Epoch 23/30
1076/1076 - 4s - loss: 62430152.0000 - accuracy: 0.1235 - 4s/epoch - 4ms/step
Epoch 24/30
1076/1076 - 4s - loss: 70322064.0000 - accuracy: 0.1228 - 4s/epoch - 4ms/step
Epoch 25/30
1076/1076 - 4s - loss: 78071640.0000 - accuracy: 0.1185 - 4s/epoch - 4ms/step
Epoch 26/30
1076/1076 - 4s - loss: 86585792.0000 - accuracy: 0.1252 - 4s/epoch - 4ms/step
Epoch 27/30
1076/1076 - 4s - loss: 95482216.0000 - accuracy: 0.1233 - 4s/epoch - 4ms/step
Epoch 28/30
1076/1076 - 4s - loss: 105357248.0000 - accuracy: 0.1226 - 4s/epoch - 4ms/step
Epoch 29/30
1076/1076 - 5s - loss: 116963808.0000 - accuracy: 0.1221 - 5s/epoch - 5ms/step
Epoch 30/30
1076/1076 - 4s - loss: 127950000.0000 - accuracy: 0.1210 - 4s/epoch - 4ms/step

In [152]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [154]:
# Evaluate

print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 1ms/step
Pred        BASEL
True
BASEL        3682
BELGRADE     1092
BUDAPEST      214
DEBILT         82
DUSSELDORF     29
HEATHROW       82
KASSEL         11
LJUBLJANA      61
MAASTRICHT      9
MADRID        458
MUNCHENB        8
OSLO            5
STOCKHOLM       4
VALENTIA        1

The results from Sigmoid seem to be worse than the other 2 activition functions used. 
<BR> I will try Relu.

### 10. Relu

In [159]:
epochs = 15
batch_size = 4
n_hidden = 4

timesteps = len(X_train[0])
input_dim = len(X_train[0][0])
n_classes = len(y_train[0])

model = Sequential()
model.add(Conv1D(n_hidden, kernel_size=2, activation='relu', input_shape=(timesteps, input_dim)))
model.add(Dense(16, activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(n_classes, activation='relu')) # Options: sigmoid, tanh, softmax, relu

In [161]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_5 (Conv1D)           (None, 14, 4)             76

 dense_10 (Dense)            (None, 14, 16)            80

 max_pooling1d_5 (MaxPooling  (None, 7, 16)            0
 1D)

 flatten_5 (Flatten)         (None, 112)               0

 dense_11 (Dense)            (None, 15)                1695

=================================================================
Total params: 1,851
Trainable params: 1,851
Non-trainable params: 0
_________________________________________________________________

In [163]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [165]:
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, verbose=2)

Epoch 1/15
4303/4303 - 7s - loss: nan - accuracy: 0.3129 - 7s/epoch - 2ms/step
Epoch 2/15
4303/4303 - 7s - loss: nan - accuracy: 0.6440 - 7s/epoch - 2ms/step
Epoch 3/15
4303/4303 - 9s - loss: nan - accuracy: 0.6440 - 9s/epoch - 2ms/step
Epoch 4/15
4303/4303 - 13s - loss: nan - accuracy: 0.6440 - 13s/epoch - 3ms/step
Epoch 5/15
4303/4303 - 13s - loss: nan - accuracy: 0.6440 - 13s/epoch - 3ms/step
Epoch 6/15
4303/4303 - 15s - loss: nan - accuracy: 0.6440 - 15s/epoch - 3ms/step
Epoch 7/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 8/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 9/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 10/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 11/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 12/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 13/15
4303/4303 - 13s - loss: nan - accuracy: 0.6440 - 13s/epoch - 3ms/step
Epoch 14/15
4303/4303 - 14s - loss: nan - accuracy: 0.6440 - 14s/epoch - 3ms/step
Epoch 15/15
4303/4303 - 15s - loss: nan - accuracy: 0.6440 - 15s/epoch - 3ms/step

In [167]:
def confusion_matrix(y_true, y_pred):
    y_true = pd.Series([stations[y] for y in np.argmax(y_true, axis=1)])
    y_pred = pd.Series([stations[y] for y in np.argmax(y_pred, axis=1)])

    return pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Pred'])

In [169]:
# Evaluate

print(confusion_matrix(y_test, model.predict(X_test)))

180/180 [==============================] - 0s 952us/step
Pred        BASEL
True
BASEL        3682
BELGRADE     1092
BUDAPEST      214
DEBILT         82
DUSSELDORF     29
HEATHROW       82
KASSEL         11
LJUBLJANA      61
MAASTRICHT      9
MADRID        458
MUNCHENB        8
OSLO            5
STOCKHOLM       4
VALENTIA        1